%cinzel-normal {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase !important;
}

%uppercase {
	text-transform: uppercase;
}

@mixin font($size, $weight, $color) {
	font-size: $size !important;
	font-weight: $weight !important;
	color: $color !important;
}