/**********************************************

					CONTENTS

1. HEADER STYLES
	1.1 Secondary Menu
	1.2 Main Menu
	1.3 Search
	1.4 Cart Dropdown 
2. MEDIA ELEMENTS STYLES
	2.1 Fullscreen Slider
	2.2 Image
	2.3 Icon Box
3. CONTENT ELEMENTS STYLES
	3.1 Page Titles
	3.2 Main Content and Sidebar Containers
	3.3 Special Heading
	3.4 Google Map
	3.5 Contact Form 
4. PLUGIN STYLES
	4.1 Product Slider (Woocommerce)
5. WOOCOMMERCE TEMPALTE STYLING
	5.1 single-product
	5.2 cart
	5.3 checkout
	5.4 myaccount
6. FOOTER/WIDGET STYLES
7. GRID (Experimental)
	7.1 Image
	7.2 ???

**********************************************/



/**********************************************

			 1. HEADER STYLES

**********************************************/

/* -=-=-=-=-=-= 1.1 Secondary Menu =-=-=-=-=-=- */

#header_meta {
	@extend %noborder;
	//z-index: 1; /* pushes the top nav bar behind the logo, this only works on z-index 1 or lower? */
}

#top {
	.social_bookmarks {
		li {
			@extend %noborder;	
		}
	}

	.header_color {
		.sub_menu>ul>li>a {
			color: $do-brown; /* override the different shades of the main colour enfold generates, clever but annoying */
		}
	}
}

.sub_menu li {
	@extend %noborder;	
}

#top {
	.av_header_transparency {
		#header_meta {
			background: $do-black;
			@extend %noborder;
		}

		#header_main {
			
		}

		.header_bg {
			
		} 
	}
}

/* -=-=-=-=-=-= 1.2 Main Menu =-=-=-=-=-=- */

.avia-search-tooltip,
.avia-arrow {
	@extend %noborder;
}

.cart_dropdown,
.avia-search-tooltip {
	@extend %noradius;
}

div .logo {
	margin-top: 5px; /* overlapping the logo with the top bar */
	//z-index: 10;
}

#header_main,
.container_wrap {
	@extend %noborder;
}

.av-main-nav {
	li {
		a {
			@extend %cinzel-normal;
			font-size: 16px !important;
			color: $do-white !important;
		}
	}
}

.html_header_top.html_bottom_nav_header {
	.main_menu {
		ul:first-child {
			&>li {
				a { 
					@extend %noborder; 
				}

				&:first-child {
					a { 
						@extend %noborder; 
					}
				}
			}
		}
	}
}

.html_bottom_nav_header.html_logo_center {
	#top {
		#menu-item-search>a {
			@extend %noborder;		
		}
	}
}

/* -=-=-=-=-=-= 1.3 Search =-=-=-=-=-=- */

.ajax_search_response {
	h4:first-child {
		@extend %cinzel-normal;
		@extend %uppercase;
		font-size: 17px;		
	}
}

.header_color {
	.ajax_search_title {
		color: white;
		font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: none;		
	}

	.ajax_search_excerpt {
		display: none;
	}

	.avia-tt {
		background-color: rgba($do-black, 0.95);

		.avia-arrow {
			background-color: rgba($do-black, 0.95);			
		}
	}
}

#top {
	div {
		.ajax_search_entry {	
			border-color: rgba($do-brown, 0.4);
			border-bottom-style: solid;	
			font-weight: normal;
			font-size: 13px !important;
		}
	}

	#s {
		color: $do-white;
		font-size: 12px;
	}

	#searchsubmit {
 	  	height: 38px;
 	}

}

.ajax_load {
	height: 38px;
}

/* -=-=-=-=-=-= 1.4 Cart Dropdown =-=-=-=-=-=- */

.cart_dropdown {
	.dropdown_widget {
		.widget_shopping_cart_content {
			@extend %noborder;
			
		}
	}
}

div {
	.dropdown_widget {
		ul.cart_list {
			li {
				a {
					img {
						border-radius: 55px;
					}
				}
			}
		}

		.cart_list { 
			li {
				border-color: rgba(239,207,155,0.4);
				border-bottom-style: solid;
			}
		}
	}
}

#top {
	.header_color {
		a.remove {
			background-color: $do-black !important;
		}
	}
}



/**********************************************

		    2. MEDIA ELEMENTS STYLES

**********************************************/

/* -=-=-=-=-=-= 2.1 Fullscreen Slider =-=-=-=-=-=- */

#top {
	.avia-slideshow-arrows {
		a {
			margin: -30px 0 0;
			width: 30px;

			&:before {
				background: rgba(0, 0, 0, 0.5);
			}

			&[href="#prev"] {
				border-radius: 0 3px 3px 0;
			}

			&[href="#next"] {
				border-radius: 3px 0 0 3px;
			}
		}
	}

	.av-control-minimal {
		.avia-slideshow-arrows { 
			a {
				&:before {
					background: none;
					@extend %noborder; // borders get cut off by the border-radius on the parent element, replace it with box-shadow instead
				}

				box-shadow: 0 0 0 2px $do-white; 
			}
		}
	}
}

/* -=-=-=-=-=-= 2.2 Image =-=-=-=-=-=- */

.avia-image-container-inner, 
.avia_image, 
.av-image-caption-overlay {
	@extend %noradius
}

#homepage_feature_blocks {
	background: url('../images/texture.png');

	// removed this because it didnt look good on mobile resolutions
	/* .av-image-caption-overlay-center {
		vertical-align: top;
		padding: 4%;
	} */

	.av-image-caption-overlay {
		height: 50%;
		bottom: 0;
		background: $do-image-overlay;


		h1, h2, h3, h4, h5, h6 {
			@extend %cinzel-normal;
			font-size: 24px;
			color: $do-brown;
		}

		div.img-caption-btn {
			//@extend %uppercase;
			display: inline-block;
			margin-top: 11px;
			padding: 10px 22px;
			border: 1px solid $do-brown;
		}
	}
}

/* -=-=-=-=-=-= 2.3 Icon Box =-=-=-=-=-=- */

 .iconbox_top {
 	.iconbox_icon {
 		padding: 6px;
 		margin: 0 0 0 -17px;
		top: -17px;
 	}

 	.iconbox_content {
		padding: 32px 20px 20px 20px;
		@extend %noradius;
 	}
 }

/**********************************************

		 3. CONTENT ELEMENTS STYLES

**********************************************/

/* -=-=-=-=-=-= 3.1 Page Titles =-=-=-=-=-=- */

#top .title_container .main-title {
	font-size: 28px;
	line-height: 30px;
	display: inline-block;
	border-bottom: 2px solid;
	letter-spacing: 1px;
	min-height: 33px;
	display: none;
}

/* -=-=-=-=-=-= 3.2 Main Content and Sidebar Containers =-=-=-=-=-=- */

.content, .sidebar {
	padding-top: 15px;
}

/* -=-=-=-=-=-= 3.3 Special Heading =-=-=-=-=-=- */

h1, h2, h3, h4, h5, h6, 
#top .title_container .main-title, 
tr.pricing-row td, 
#top .portfolio-title, 
.callout .content-area, 
.avia-big-box .avia-innerbox, 
.av-special-font, 
.av-current-sort-title {
	@extend %cinzel-normal;
	border-color: $do-dark-brown !important;
}

.av-special-heading {
	h1, h2, h3, h4, h5, h6 {
		//@extend %cinzel-normal; do i really need these here if they are in the above rule?
	}

	.av-subheading.av-subheading_above,
	.av-subheading.av-subheading_below {
		//@extend %cinzel-normal;	
	}
}

body {
	.av-special-heading.modern-quote,
	.av-special-heading.classic-quote {
		h1, h2, h3, h4, h5, h6 {
			display: inline-block;
			border-bottom: 2px solid;
		}
	}
}

/* -=-=-=-=-=-= 3.4 Google Map =-=-=-=-=-=- */

.avia-google-maps {
	padding-bottom: 40px;
}

/* -=-=-=-=-=-= 3.5 Contact Form =-=-=-=-=-=- */

#top {
	.avia_ajax_form {
		.text_input,
		.select,
		.text_area,
		.button {
			@extend %noradius;
		}
	}	
}


/**********************************************

		       4. PLUGIN STYLES

**********************************************/

/* -=-=-=-=-=-= 4.1 Product Slider (Woocommerce) =-=-=-=-=-=- */

/* ul.products {
	li {
		&:nth-child(-n+3) {
			margin-top: 0 !important;
		}

		margin-top: 25px !important;
	}
}
 */

.thumbnail_container {
	padding: 10px 10px 0 10px;
}

.inner_product {
	@extend %noborder;
}

.avia_cart_buttons {
	@extend %noborder;
	opacity: 1;
}

#top {
	.inner_product_header {		
		padding: 0 10px 0 10px;
		min-height: 0px;

		.avia-arrow {
			@extend %hide;
		}

		@extend %noborder;
	}

	.avia_cart_buttons {
		  padding: 0 10px 10px 10px;

		.button {
			//@extend %uppercase;
			@include font(12px, 300, $do-true-black);
			width: 48.5%;

			&.add_to_cart_button {
				background: $do-cream !important;
				padding: 11px 0;
			}

			&.show_details_button {
				background: none;
				border: 1px solid $do-light-grey;
				float: right;
				padding: 10px 0;
			}

			&> span {
				@extend %hide;
			}
		}
	}

	.price,
	.price span,
	del,
	ins {
		font-size: 15px;
		padding-left: 6px;
	}
}

.products {
	.product {
		h3, h4, h5, h6 {
			background: $do-black;
			@include font(14px, 300, $do-white); //font-weight does not effect this element for some reason
			padding: 11px 12px;
			margin-bottom: 8px;
		}
	}
}

.button-mini-delimiter {
	@extend %hide;
}


/**********************************************

		5. WOOCOMMERCE TEMPALTE STYLING

**********************************************/

/* -=-=-=-=-=-= 5.1 single-product =-=-=-=-=-=- */

#top {
	div.woocommerce-error,
	div.woocommerce-message,
	.woocommerce-info {
		@extend %noradius;
	}

	#reviews {
		h2 {
			@extend %cinzel-normal;
			@extend %h2;
			font-size: 16px !important;
		}
	}

	.variations_form {
		padding: 0;
	}

	.upsells.products {
		h2 {
			@extend %h2;
		}
	}

	.related.products {
		h2 {
			@extend %h2;
		}
	}

	div.product {
		.woocommerce-tabs {
			margin: 0;
		}

		.product_title {
			@extend %h2;
		}
	}

	del,
	ins {
		padding-left: 0;
	}

	.price {
		padding-left: 0;

		span {
			padding-left: 0;
		}
	}

}

.image-overlay {
	.image-overlay-inside {
		@extend %hide;
	}
}

.template-shop .single-product-main-image .images a {
	@extend %noborder;
}

.single-product {
	.template-shop {
		padding-top: 15px;
	}
}

.avia_transform {
	a:hover {
		.image-overlay {
			opacity: 0.5 !important;
		}
	}
}

.image-overlay {
	background: $do-black;
}

/* -=-=-=-=-=-= 5.2 cart =-=-=-=-=-=- */

.woocommerce-info {
	@extend %hide;
}

.woocommerce-shipping-calculator {
	a.shipping-calculator-button {
		text-decoration: underline;
	}
}

.woo-heading {
	@extend %h2;
}

#top {
	div {
		&.wc-proceed-to-checkout {
			padding-top: 20px;
		}

		table.shop_table {
			td.product-thumbnail {
				text-align: center !important;	
			}
		}

		td.actions {
			.coupon {
				.input-text {
					@extend %noradius;	
					padding: 12px;
				}
			}
		}
	}
}

.cart-collaterals {
	.cart_totals {
		tr {
			td, th {
				padding: 6px 12px;
			}
		}

		p.totals-note {
			text-align: left;
			line-height: 1;
		}
	}

	.cart-totals-header {
		text-align: left !important;

	 	h2 {
		 	@extend %h2;
		}
	}
}

/* -=-=-=-=-=-= 5.3 checkout =-=-=-=-=-=- */

#top {
	#main {
		.order_details,
		.shop_table.order_details {
			@extend %noborder;
			padding: 0;
		}
	}

	#payment {
		@extend %noradius;
		@extend %noborder;

		div.form-row {
			padding: 20px 0 0 0;
		}

		ul.payment_methods {
			padding: 0;
			overflow: visible;
		}
	}
}

.woocommerce-page {
	.button {
		@extend %noradius;
	}
}

.col2-set {
	.col-1,
	.col-2 {
		h3 {
			padding: 0;
			@extend %h2;
		}
	}
}

#ship-to-different-address {
	@extend %noborder;
}

h3#order_review_heading {
	@extend %h2;
}

.woocommerce {
	h2 {
		@extend %h2;
	}

	h3 {
		font-size: 16px;
	}
}

/* -=-=-=-=-=-= 5.4 myaccount =-=-=-=-=-=- */

#top {
	form.login,
	form.register {
		@extend %noradius;
	}
}



/**********************************************

		   6. FOOTER/WIDGET STYLES

**********************************************/

#scroll-top-link {
	@extend %noradius;
}

.widgettitle {
	font-size: 18px;
	@extend %cinzel-normal;
	color: $do-brown; /* again overriding the different shades of the main colour enfold generates */
}

#top {
	#footer {
		.widget {
			ul {
				//padding-left: 6px;
			}
		}
	}
}

div {
	ul.product_list_widget {
		li {
			/* @extend %noborder;
			border-bottom-style: dotted;
  			border-bottom-width: 1px; */
		}
	}
}


.widget_nav_menu {
	ul:first-child>.current-menu-item, 
	ul:first-child>.current_page_item, 
	ul:first-child>.current-menu-ancestor {
		@extend %noshadow;
	}
}

.news-thumb {
	display: none;
}

/**********************************************

	    	7. GRID (Experimental)

These are changes to the Enfold grid which I do
not recommend, but it gives a more accurate
representation of the designs for the Darling
Olives website

**********************************************/

/* -=-=-=-=-=-= 7.1 Image =-=-=-=-=-=- */

/* #homepage_feature_blocks {
	div .av_one_third {
		margin-left: 1.78%;
		width: 31.553398%;
	}
} */


// 7.2 what the hell are these ????
#top .products .product-category h3:before { 
	@extend %hide;
}

.page-thumb {
	@extend %hide;
}








.main_color, .main_color div, .main_color header, .main_color main, .main_color aside, .main_color footer, .main_color article, .main_color nav, .main_color section, .main_color span, .main_color applet, .main_color object, .main_color iframe, .main_color h1, .main_color h2, .main_color h3, .main_color h4, .main_color h5, .main_color h6, .main_color p, .main_color blockquote, .main_color pre, .main_color a, .main_color abbr, .main_color acronym, .main_color address, .main_color big, .main_color cite, .main_color code, .main_color del, .main_color dfn, .main_color em, .main_color img, .main_color ins, .main_color kbd, .main_color q, .main_color s, .main_color samp, .main_color small, .main_color strike, .main_color strong, .main_color sub, .main_color sup, .main_color tt, .main_color var, .main_color b, .main_color u, .main_color i, .main_color center, .main_color dl, .main_color dt, .main_color dd, .main_color ol, .main_color ul, .main_color li, .main_color fieldset, .main_color form, .main_color label, .main_color legend, .main_color table, .main_color caption, .main_color tbody, .main_color tfoot, .main_color thead, .main_color tr, .main_color th, .main_color td, .main_color article, .main_color aside, .main_color canvas, .main_color details, .main_color embed, .main_color figure, .main_color fieldset, .main_color figcaption, .main_color footer, .main_color header, .main_color hgroup, .main_color menu, .main_color nav, .main_color output, .main_color ruby, .main_color section, .main_color summary, .main_color time, .main_color mark, .main_color audio, .main_color video, #top .main_color .pullquote_boxed, .responsive #top .main_color .avia-testimonial, .responsive #top.avia-blank #main .main_color.container_wrap:first-child, #top .main_color.fullsize .template-blog .post_delimiter, .main_color .related_posts.av-related-style-full a {
	//border-color: #ddd !important;
}