/**********************************************

				HEADER STYLES

**********************************************/

/* Secondary Menu */
#header_meta {
	@extend %noborder;
	z-index: 1; /* pushes the top nav bar behind the logo, this only works on z-index 1 or lower? */
}

#top {
	.social_bookmarks {
		li {
			@extend %noborder;	
		}
	}

	.header_color {
		.sub_menu>ul>li>a {
			color: $do-brown; /* override the different shades of the main colour enfold generates, clever but annoying */
		}
	}
}

.sub_menu li {
	@extend %noborder;	
}

#top {
	.av_header_transparency {
		#header_meta {
			background: $do-black;
			@extend %noborder;
		}

		#header_main {
			
		}

		.header_bg {
			
		} 
	}
}

/* Main Menu */
.avia-search-tooltip,
.avia-arrow {
	@extend %noborder;
}

.cart_dropdown,
.avia-search-tooltip {
	@extend %noradius;
}

div .logo {
	margin-top: -12px; /* overlapping the logo with the top bar */
	z-index: 10;
}

#header_main,
.container_wrap {
	@extend %noborder;
}

.av-main-nav {
	li {
		a {
			@extend %cinzel-normal;
			font-size: 16px !important;
			color: $do-white !important;
		}
	}
}

.html_header_top.html_bottom_nav_header {
	.main_menu {
		ul:first-child {
			&>li {
				a { 
					@extend %noborder; 
				}

				&:first-child {
					a { 
						@extend %noborder; 
					}
				}
			}
		}
	}
}

.html_bottom_nav_header.html_logo_center {
	#top {
		#menu-item-search>a {
			@extend %noborder;		
		}
	}
}

/**********************************************

		    MEDIA ELEMENTS STYLES

**********************************************/

/* Fullscreen Slider */
#top {
	.avia-slideshow-arrows {
		a {
			margin: -30px 0 0;
			width: 30px;

			&:before {
				background: rgba(0, 0, 0, 0.5);
			}

			&[href="#prev"] {
				border-radius: 0 3px 3px 0;
			}

			&[href="#next"] {
				border-radius: 3px 0 0 3px;
			}
		}
	}

	.av-control-minimal {
		.avia-slideshow-arrows { 
			a {
				&:before {
					background: none;
					@extend %noborder; // borders get cut off by the border-radius on the parent element, replace it with box-shadow instead
				}

				box-shadow: 0 0 0 2px $do-white; 
			}
		}
	}
}

/* Image */
#homepage_feature_blocks {
	background: url('../images/texture.png');

	// removed this because it didnt look good on mobile resolutions
	/* .av-image-caption-overlay-center {
		vertical-align: top;
		padding: 4%;
	} */

	.av-image-caption-overlay {
		height: 50%;
		bottom: 0;
		background: $do-image-overlay;

		h1, h2, h3, h4, h5, h6 {
			@extend %cinzel-normal;
			font-size: 24px;
			color: $do-brown;
		}

		div.img-caption-btn {			
			display: inline-block;
			padding: 10px 22px;
			border: 1px solid $do-brown;
		}
	}
}

/**********************************************

		   CONTENT ELEMENTS STYLES

**********************************************/

/* Page titles */
#top .title_container .main-title {
	font-size: 28px;
	line-height: 30px;
	display: inline-block;
	border-bottom: 2px solid;
	letter-spacing: 1px;
	min-height: 33px;
	display: none;
}

/* Main content and Sidebar containers*/
.content, .sidebar {
	//padding-top: 0 !important;
}

/* Special Heading */
.av-special-heading {
	h1, h2, h3, h4, h5, h6 {
		@extend %cinzel-normal;
	}

	.av-subheading.av-subheading_above,
	.av-subheading.av-subheading_below {
		@extend %cinzel-normal;	
	}
}

body {
	.av-special-heading.modern-quote,
	.av-special-heading.classic-quote {
		h1, h2, h3, h4, h5, h6 {
			display: inline-block;
			border-bottom: 2px solid;
		}
	}
}

/**********************************************

			PLUGIN ADDITIONS STYLES

**********************************************/

/* Product Slider (Woocommerce) */
.thumbnail_container {
	padding: 10px;
}

.inner_product {
	@extend %noborder;
}

.avia_cart_buttons {
	@extend %noborder;
	opacity: 1;
}

#top {
	.inner_product_header {		
		padding: 10px;

		.avia-arrow {
			@extend %hide;
		}

		@extend %noborder;
	}

	.avia_cart_buttons {
		.button {
			@extend %uppercase;
			@include font(12px, 300, $do-true-black);
			width: 48.5%;

			&.add_to_cart_button {
				background: $do-cream !important;
				padding: 11px 0;
			}

			&.show_details_button {
				background: none;
				border: 1px solid black;
				float: right;
				padding: 10px 0;
			}

			&> span {
				@extend %hide;
			}
		}
	}

	.price,
	.price span,
	del,
	ins {
		font-size: 22px;
		padding-left: 6px;
	}
}

.products {
	.product {
		h3, h4, h5, h6 {
			background: $do-black;
			@include font(14px, 300, $do-white); //font-weight does not effect this element for some reason
			padding: 11px 12px;
			margin-bottom: 8px;
		}
	}
}

.button-mini-delimiter {
	@extend %hide;
}

/**********************************************

			 FOOTER/WIDGET STYLES

**********************************************/

#scroll-top-link {
	@extend %noradius;
}

.widgettitle {
	@extend %cinzel-normal;
	color: $do-brown; /* again overriding the different shades of the main colour enfold generates */
}


#top {
	#footer {
		.widget {
			ul {
				//padding-left: 6px;
			}
		}
	}
}

/**********************************************

	    	 GRID (Experimental)

These are changes to the Enfold grid which I do
not recommend, but it gives a more accurate
representation of the designs for the Darling
Olives website

**********************************************/

/* Image */
/* #homepage_feature_blocks {
	div .av_one_third {
		margin-left: 1.78%;
		width: 31.553398%;
	}
} */




.ajax_search_response h4:first-child {
	@extend %cinzel-normal;
	text-transform: uppercase;
	font-size: 17px;
}

.header_color .ajax_search_title {
	color: white;
	font-family: 'open sans';
	font-weight: 300;
	font-size: 14px;
	text-transform: none;
}

.header_color .ajax_search_excerpt {
	display: none;
}

#top div .ajax_search_entry {
	border-color: rgba(239,207,155,0.4);
	border-bottom-style: solid;	
	font-weight: normal;
	font-size: 13px !important;
	color: $do-brown;
}

.header_color .avia-tt, .header_color .avia-tt .avia-arrow, .header_color .avia-tt .avia-arrow {
	background-color: rgba(22,22,22,0.95);
}

#top #s {
	color: $do-white;
	font-size: 14px;
}

#top .products .product-category h3:before {
	@extend %hide;
}

.image-overlay .image-overlay-inside {
	@extend %hide;
}

.avia_transform a:hover .image-overlay {
	opacity: 0.5 !important;
}

.image-overlay {
	background: #161616;
}


h1, h2, h3, h4, h5, h6, #top .title_container .main-title, tr.pricing-row td, #top .portfolio-title, .callout .content-area, .avia-big-box .avia-innerbox, .av-special-font, .av-current-sort-title {
@extend %cinzel-normal;
	// same as special headings on home page
}


.template-shop .single-product-main-image .images a {
	@extend %noborder;
}


#top .variations_form {
	@extend %noborder;

}

#top .price, #top .price span, #top del, #top ins {
	padding-left: 0;
}

table.variations {
	// align this left with the price and tiitle
	
}


/* cart dropdown */

.cart_dropdown .dropdown_widget .widget_shopping_cart_content {
	@extend %noborder;
	background-color: rgba(22,22,22,0.95) !important;
}

/* #top div .dropdown_widget_cart {
	display: block !important;
	opacity: 1 !important;
}
 */

div .dropdown_widget .cart_list li {
	border-color: rgba(239,207,155,0.4);
	border-bottom-style: solid;	
}


.dropdown_widget ul.cart_list li a img {
	border-radius: 55px;
}

 #top .header_color a.remove {
 	background-color: $do-black !important;
 }

 .page-thumb {
 	@extend %hide;
 }


 .content, .sidebar {
 	padding-top: 15px;
 }

 #top .variations_form {
 	padding: 0;
 }

 div.product .product_title {
	font-size: 28px;
	line-height: 30px;
	display: inline-block;
	border-bottom: 2px solid;
	letter-spacing: 1px;
 }

 /* .woocommerce-price-suffix {
 	font-size: 0.5em !important;
 	font-weight: normal;
 } */